body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    
}
h1{
    font-size: 50px;
    
    }
.orange{
    color:orange
}
p{
    text-align: justify;
}
.flexible-container{
    display:flex;
    margin-bottom: 100%;
}
.half-width{
    width:30%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
    margin-left: 110%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.banner{
    background-image: url(photos/top-banner.png);
    background-repeat:no-repeat;
}
.na{
    width: 50%;
    margin-right: 2%;
}
.na img{
    width:100%;

}
.yes{
    background-image: url(photos/pinpng.com-blue-divider-png-6315288.png);
    background-repeat: no-repeat;
    color:orange
}
.dream-big{
    background-image: url(photos/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange-color{
    color:orange;
}
.Experience-area{
    background-image: url(photos/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px gray;
}

#fullbiodata{
    border-left: 7px solid tomato;
}
#expo{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}